<h1>Create A Recipe!</h1>
<br><br>
<form action = "/recipes/create" method = "POST">
    <label for = "name">Name</label>
    <input type = "text" id = "name" name = "name">

    <label for = "link">Link</label>
    <input type = "text" id = "link" name = "link">

    <label for = "picLink">Photo</label>
    <input type = "text" id = "picLink" name = "picLink">

    <input type = "submit" value = "create">

</form>
